<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "FlashEx", root_path(), class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <%= form_with url: getPackageByTrackingID_path(), html:{ class: "form-inline my-2 my-lg-0" }, method: :get, local: true do |form| %>
      <%= form.text_field :tracking_id, placeholder: 'Tracking #', class: "form-control mr-sm-2", required: true %>
      <%= form.submit 'Track My Package', :class => 'btn btn-outline-success my-2 my-sm-0' %>
    <% end %>
  </div>
</nav>