<% if alert %>
  <h1 class="alert alert-danger"><%= alert %></h1>
<% end %>
<div class="jumbotron">
  <h1 class="display-4">Welcome to FlashEx</h1>
  <p class="lead">Faster Than FedEx. Period.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.fedex.com/en-us/home.html" role="button">Learn more</a>
  </p>
</div>
